.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes par défaut */
    gap: 60px;
    padding: 20px;
    margin: 80px auto;
    max-width: 1100px;
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
        margin: 0;
        gap: 20px;
        padding: 0 20px 20px 20px;
    }
}