.carousel {
    position: relative;
}

/* image  */

.carousel img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Chevron du carousel */

.carousel-btn {
    border: none;
    font-size: 79px;
    color: white;
    background: none;
}

.left {
    position: absolute;
    top: 40%;
    left: 5%;
}

.right {
    position: absolute;
    right: 5%;
    top: 40%;
}

/* position */

.carousel-counter {
    font-size: 18px;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
}

@media (max-width: 600px) {
    .carousel img {
        height: 255px;
        border-radius: 10px;
    }

    .carousel-btn {
        font-size: 20px;
    }

    .left {
        top: 45%;
    }

    .right {
        top: 45%;
    }
    
    .carousel-counter {
        display: none;
    }
}