.dropdown {
  width: var(--dropdown-width, 100%);
  transition: width 0.3s ease;
}

.dropdown-header {
  background-color: #FF6060;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-header svg {
  font-size: 24px;
  text-align: center;
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
}

/* Active l’expansion */
.dropdown-wrapper.open {
  max-height: 500px; /* ou auto si tu veux */
}

.dropdown-content {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s ease, transform 0.4s ease;
}

/* Texte visible quand open */
.dropdown-wrapper.open .dropdown-content {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content ul {
  list-style: none;
}