.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

@media (max-width: 600px) {
    
    .header img {
        height: 47px;
    }

    .nav {
        gap: 20px;
    }

    .nav a {
        font-size: 12px;
        text-transform: uppercase;
    }
}