.logement-page {
    margin-bottom: 40px;
}

.desc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tags {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.drop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

@media (max-width: 600px) {
    .desc {
        flex-direction: column;
    }

    .drop {
        flex-direction: column;
        gap: 20px;
        margin-bottom: -10px;
    }
}