.tag {
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    padding: 3px 30px;
    border-radius: 8px;
    background-color: #FF6060;
    text-align: center;
}

@media (max-width: 600px) {
    .tag {
        font-size: 10px;
        padding: 3px 15px;
        margin-top: -10px;
        border-radius: 5px;
    }   
}